.noItemsMessage {
    text-align: center;
    padding: 50px 20px;
    /* margin-top: 50px; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .noItemsMessage h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .noItemsMessage p {
    font-size: 16px;
    color: #777;
  }
  